HYPOTHESIS TESTING ASSIGNMENT

Cutlets

In [64]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [65]:
cutlets=pd.read_csv('https://excelr.s3.nl-ams.scw.cloud/DataScience-Assignments/Assignments/hypothesis%20Testing/Cutlets.csv')
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

H0(Null Hypothesis)=There is no significant differnce in diameter of cutlet between two units.

H1(Alternate Hypothesis)=There is significant differnce in diameter of cutlet between two units.

TWO SAMPLE TEST

In [66]:
stats.ttest_ind(cutlets["Unit A"],cutlets["Unit B"])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

CONCLUSION

P value>0.05 so accept Null Hypothesis
so there is no significant difference in diameter of cutlet between two units.

LAB TAT

In [67]:
labtat=pd.read_csv("https://excelr.s3.nl-ams.scw.cloud/DataScience-Assignments/Assignments/hypothesis%20Testing/LabTAT.csv")
labtat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

H0(Null Hypothesis)=There is no difference in average turn around time(TAT)of 4 Laboratories.

H1(Alternate Hypothesis)=There is difference in average turn around time(TAT)of 4 Laboratories.

ANOVA

In [68]:
stats.f_oneway(labtat["Laboratory 1"],
               labtat["Laboratory 2"],
               labtat["Laboratory 3"],
               labtat["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

CONCLUSION

P value<0.05 So accept Alternate Hypothesis
There is difference in average turn around time(TAT)of 4 Laboratories.

Buyer Ratio

In [69]:
BR=pd.read_csv('https://excelr.s3.nl-ams.scw.cloud/DataScience-Assignments/Assignments/hypothesis%20Testing/BuyerRatio.csv')
BR

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

H0(Null Hypothesis)-All Proportions Are Same

H1(Alternate)-Not All Proportions Are Same

In [70]:
BR_Table=BR.iloc[:,1:6]
BR_Table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

CHI-SQUARE TEST

In [71]:
scipy.stats.chi2_contingency(BR_Table)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

CONCLUSION

P value>0.05 so accept Null Hypothesis

All Proportions are Same.

Customer Order Form

In [72]:
cof=pd.read_csv('https://excelr.s3.nl-ams.scw.cloud/DataScience-Assignments/Assignments/hypothesis%20Testing/Costomer%2BOrderForm.csv')
cof.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

H0(Null Hypothesis)-Defective% doesn't vary by centre

H1(Alternate Hypothesis)-Defective% vary by centre

In [73]:
cof.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [74]:
cof.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [75]:
cof.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [76]:
cof.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [77]:
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

CHI-SQUARE TEST

In [78]:
scipy.stats.chi2_contingency(obs)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

CONCLUSION

P Value>0.05 Accept Null Hypothesis

Defective% doesn't vary by centre